h1 {
	font-size: 600%;
	font-family: Pacifico;
	margin-top: -20px ;
}

form {
	text-align: center;
	width: 300px;
	margin: auto;
}

.done {
	text-decoration: line-through;
    color: red;
}

li {
	list-style-type: none;
}

body {
	background-color:#80B2FF;
    margin: auto;
    text-align: center;
}


li span {
  cursor: pointer;
}